h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

* {
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body {
  margin: 0;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: calc(min(10px, 5vw));
  background-color: #13bba4;
  color: white;
  font-size: calc(min(20px, 5vw));
  text-align: center;
  text-wrap: balance;
  gap: 20px;
}
.section > * {
  display: inline;
  vertical-align: middle;
}
.more {
  width: 80%;
  margin: 0 10%;
}
.more-inner {
  width: 100%;
  padding: calc(min(8px, 5%));
  border: 3px solid rgb(117, 236, 117);
  border-radius: 15px;

  display: flex;
  flex-direction: column;
  gap: calc(min(20px, 5vw));
}
